Repository hashgraph/solo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hiero-ledger/solo-committers, @hiero-ledger/solo-maintainers, @hiero-ledger/github-maintainers

add log
  resources/support-zip.sh
Owners: @hiero-ledger/solo-committers

chore: remove realm and shard from 35.1 test file
  test/data/v0.35.1-local-config.yaml
  test/unit/data/schema/model/local/local-config.test.ts
Owners: @hiero-ledger/solo-committers

fixes
  src/core/config/remote/components-data-wrapper.ts
  src/core/config/remote/remote-config-validator.ts
Owners: @hiero-ledger/solo-committers

chore: resolve conflicts
  src/commands/base.ts
  src/commands/network.ts
  src/core/dependency-injection/container-init.ts
  test/e2e/commands/dual-cluster-full.test.ts
  test/e2e/commands/relay.test.ts
  test/unit/commands/network.test.ts
Owners: @hiero-ledger/solo-committers

chore: run formatter
  docs/design/architecture/system/presentation_layer_cli_architecture.md
  docs/site/content/User/GetStarted.md
  docs/site/content/User/SoloCommands.md
  docs/site/content/User/StepByStepGuide.md
  src/core/dependency-injection/container-init.ts
  test/e2e/commands/account.test.ts
  test/e2e/commands/mirror-node.test.ts
  test/test-utility.ts
  test/unit/commands/cluster.test.ts
  test/unit/commands/node.test.ts
Owners: @hiero-ledger/solo-committers, @hiero-ledger/solo-maintainers

fix: incorrect binding
  src/commands/node/handlers.ts
Owners: @hiero-ledger/solo-committers

fixed warnings from tests and polished implementation
  src/core/chart-manager.ts
  src/core/config/remote/components-data-wrapper.ts
  src/core/config/remote/remote-config-validator.ts
  test/e2e/integration/core/remote-config-validator.test.ts
  test/unit/core/config/remote/components-data-wrapper.test.ts
  test/unit/core/config/remote/components/component-names.test.ts
  test/unit/core/config/remote/components/components.test.ts
Owners: @hiero-ledger/solo-committers

lint-fix
  src/commands/network.ts
  src/core/config/remote/remote-config-validator.ts
Owners: @hiero-ledger/solo-committers

fixed all unit tests
  test/e2e/integration/core/remote-config-validator.test.ts
  test/unit/core/config/remote/components/components.test.ts
Owners: @hiero-ledger/solo-committers

added TODO's linked to issues
  src/core/config/remote/remote-config-validator.ts
Owners: @hiero-ledger/solo-committers

first implementation exercise
  src/data/backend/impl/config-map-storage-backend.ts
Owners: @hiero-ledger/solo-committers

refactor: update LayeredModelConfigSource to implement ModelConfigSource interface
  src/data/configuration/impl/layered-model-config-source.ts
Owners: @hiero-ledger/solo-committers

fix: update yaml parsing and stringifying methods to use the yaml package
  src/data/backend/impl/yaml-file-storage-backend.ts
Owners: @hiero-ledger/solo-committers

feat: implement YamlConfigMapStorageBackend for YAML object storage support
  src/data/backend/impl/config-map-storage-backend.ts
  src/data/backend/impl/yaml-config-map-storage-backend.ts
Owners: @hiero-ledger/solo-committers

docs: add JSDoc comment for YamlConfigMapStorageBackend class
  src/data/backend/impl/yaml-config-map-storage-backend.ts
Owners: @hiero-ledger/solo-committers

refactor: rename CTObjectMapper to ClassToObjectMapper and update references
  src/core/dependency-injection/container-init.ts
  src/data/mapper/impl/class-to-object-mapper.ts
  test/unit/data/configuration/impl/local-config-source.test.ts
  test/unit/data/schema/model/local/local-config.test.ts
Owners: @hiero-ledger/solo-committers

fix: cluster e2e test
  test/e2e/commands/cluster.test.ts
Owners: @hiero-ledger/solo-committers

chore: add version requirement to flag descriptions
  src/commands/flags.ts
Owners: @hiero-ledger/solo-committers

feat: fail network deploy if consensus version does not support non-zero realm
  src/commands/network.ts
Owners: @hiero-ledger/solo-committers

refactor: update name getter to return constructor name dynamically
  src/data/configuration/impl/local-config-source.ts
Owners: @hiero-ledger/solo-committers

feat: add RemoteConfigSource, RemoteConfigSchema, and migration for remote configuration management
  src/data/configuration/impl/remote-config-source.ts
  src/data/schema/migration/impl/remote/remote-config-schema.ts
  src/data/schema/migration/impl/remote/remote-config-v1-migration.ts
  src/data/schema/model/remote/remote-config.ts
Owners: @hiero-ledger/solo-committers

nit: formatting
  src/commands/network.ts
  src/core/helpers.ts
Owners: @hiero-ledger/solo-committers

fix e2e integration tests
  src/core/config/remote/remote-config-validator.ts
  test/e2e/integration/core/remote-config-validator.test.ts
Owners: @hiero-ledger/solo-committers

fix: cluster tests
  test/e2e/commands/cluster.test.ts
Owners: @hiero-ledger/solo-committers

fix dual cluster setup test full
  test/e2e/commands/dual-cluster-full.test.ts
Owners: @hiero-ledger/solo-committers

fix: unit tests
  test/unit/commands/network.test.ts
Owners: @hiero-ledger/solo-committers

fix: cluster tests
  test/e2e/commands/cluster.test.ts
Owners: @hiero-ledger/solo-committers

fix: cluster tests
  test/e2e/commands/cluster.test.ts
Owners: @hiero-ledger/solo-committers

feat: implement migration logic for RemoteConfigV1, updating metadata and structure
  src/data/schema/migration/impl/remote/remote-config-v1-migration.ts
Owners: @hiero-ledger/solo-committers

fix: cluster tests
  test/e2e/commands/cluster.test.ts
Owners: @hiero-ledger/solo-committers

revert change in smoke test script
  .github/workflows/script/gcs_test.sh
  .github/workflows/script/solo_smoke_test.sh
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/solo-maintainers

syntax
  .github/workflows/flow-gcs-test.yaml
  .github/workflows/script/solo_smoke_test.sh
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/solo-maintainers

fix: install zip in node logs shell script
  resources/support-zip.sh
Owners: @hiero-ledger/solo-committers

feat: add TODO for completing remote config components after deployment
  src/data/schema/migration/impl/remote/remote-config-v1-migration.ts
Owners: @hiero-ledger/solo-committers

fix: include symbolic link file in downloading node logs (#1859)
  resources/support-zip.sh
Owners: @hiero-ledger/solo-committers

feat: update ingress controller and ingress class to support test of self-signed TLS certificate (#1838)
  .github/workflows/script/explorer-ingress-controller-values.yaml
  .github/workflows/script/gcs_test.sh
  .github/workflows/script/kind-config.yaml
  .github/workflows/script/mirror-ingress-controller-values.yaml
  Taskfile.yml
  examples/Taskfile.examples.yml
  examples/performance-tuning/solo-gke/Taskfile.yml
  examples/solo-gke-test/Taskfile.yml
  package-lock.json
  package.json
  resources/mirror-node-values.yaml
  src/commands/explorer.ts
  src/commands/flags.ts
  src/commands/mirror-node.ts
  src/core/constants.ts
  src/core/key-manager.ts
  test/e2e/commands/network.test.ts
  test/e2e/dual-cluster/setup-dual-e2e.sh
Owners: @hiero-ledger/github-maintainers, @hiero-ledger/solo-maintainers, @hiero-ledger/solo-committers

Fix toleration for MiniO
  examples/performance-tuning/latitude/init-containers-values.yaml
Owners: @hiero-ledger/solo-committers, @hiero-ledger/solo-maintainers

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers

############################
#####  Project Files  ######
############################

/src/**                                         @hiero-ledger/solo-committers
/test/**                                        @hiero-ledger/solo-committers
/resources/**                                   @hiero-ledger/solo-committers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hiero-ledger/github-maintainers @hiero-ledger/solo-maintainers

# NodeJS project files
package.json                                    @hiero-ledger/solo-maintainers
package-lock.json                               @hiero-ledger/solo-maintainers

# Codacy Tool Configurations
/config/                                        @hiero-ledger/solo-maintainers
.remarkrc                                       @hiero-ledger/solo-maintainers

# Semantic Release Configuration
.releaserc                                      @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hiero-ledger/github-maintainers

# Protect the repository root files
/README.md                                      @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers
**/LICENSE                                      @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers

# CodeCov configuration
**/codecov.yml                                  @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers

# Git Ignore definitions
**/.gitignore                                   @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers
**/.gitignore.*                                 @hiero-ledger/solo-committers @hiero-ledger/solo-maintainers @hiero-ledger/github-maintainers
